<footer class="footer">
	<nav>
		<section>
			<h3>Documentation</h3>
			<h4><a href="/">Lightbend Platform</a></h4>
			<ul>
				<li><a href="https://developer.lightbend.com/docs/lightbend-platform/2.0/">Configuration and setup</a></li>
				<li><a href="https://developer.lightbend.com/docs/lightbend-orchestration/latest/overview.html">Lightbend Orchestration</a></li>
				<li><a href="https://developer.lightbend.com/docs/fast-data-platform/current/index.html">Fast Data</a></li>
				<li><a href="https://developer.lightbend.com/docs/pipelines/current/index.html">Pipelines</a></li>
				<li><a href="https://developer.lightbend.com/docs/telemetry/latest/home.html">Telemetry</a></li>
				<li><a href="https://developer.lightbend.com/docs/console/current/index.html">Console</a></li>
				<li><a href="https://developer.lightbend.com/docs/akka-commercial-addons/current/index.html">Akka Add-ons</a></li>
				<li><a href="https://developer.lightbend.com/docs/fortify/latest/">Fortify SCA for Scala</a></li>
				<li><a class="navbar-item" href="https://akka.io/docs/">Akka</a></li>
				<li><a class="navbar-item" href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a></li>
				<li><a class="navbar-item" href="https://www.lagomframework.com/documentation/">Lagom Framework</a></li>
				<li><a class="navbar-item" href="https://www.playframework.com/documentation">Play Framework</a></li>
				<li><a class="navbar-item" href="http://www.scala-sbt.org/documentation.html">sbt</a></li>
				<li><a class="navbar-item" href="https://docs.scala-lang.org/">Scala</a></li>
				<li><a class="navbar-item" href="http://slick.lightbend.com/doc/3.2.1/">Slick</a></li>
				<li><a class="navbar-item" href="https://spark.apache.org/documentation.html">Apache Spark</a></li>
				<li><a class="navbar-item" href="https://kafka.apache.org/documentation/index.html">Apache Kafka</a></li>
				<li><a class="navbar-item" href="https://flink.apache.org/index.html">Apache Flink</a></li>
			</ul>
		</section>
		<section>
			<h3>Resources</h3>
			<ul>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
			</ul>
			<h4><a href="">Heading Four</a></h4>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
		</section>
		<section>
			<h3>Lightbend</h3>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
			<h4><a href="">Heading Four</a></h4>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
		</section>
	</nav>
</footer>
