<footer class="footer">
	<nav>
		<section>
			<h3>Heading Three</h3>
			<ul>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
			<h4><a href="">Heading Four</a></h4>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
		</section>
		<section>
			<h3>Heading Three</h3>
			<ul>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
			<h4><a href="">Heading Four</a></h4>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
		</section>
		<section>
			<h3>Heading Three</h3>
			<ul>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a class="btn" href="/">Menu Item {{> chevon-svg}}</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
			<h4><a href="">Heading Four</a></h4>
			<ul>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
				<li><a href="/">Menu Item</a></li>
			</ul>
		</section>
	</nav>
</footer>
