<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https:www.lightbend.com"><img class="header-logo" src="{{uiRootPath}}/img/lightbend-reverse.svg"></a>
      <a href="{{site.url}}" id="site-id" class="site-id">Documentation</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link">Documentation</span>
          <div class="navbar-dropdown columns">
            <div class="navbar-dropdown-col mm-col-two">
              <a class="navbar-item" href="/"><strong>Lightbend Platform</strong></a>
              <a class="navbar-item" href="/">Lightbend Platform Guide</a>
              <a class="navbar-item" href="https://developer.lightbend.com/docs/pipelines/current/index.html">Pipelines</a>
              <a class="navbar-item" href="https://developer.lightbend.com/docs/telemetry/latest/home.html">Telemetry</a>
              <a class="navbar-item" href="https://developer.lightbend.com/docs/console/current/index.html">Console</a>
              <a class="navbar-item" href="https://developer.lightbend.com/docs/akka-commercial-addons/current/index.html">Akka Add-ons</a>
              <a class="navbar-item" href="https://developer.lightbend.com/docs/fortify/latest/">Fortify SCA for Scala</a>
            </div>
            <div class="navbar-dropdown-col mm-col-two invisible-border">
              <a class="navbar-item" href="https://akka.io/docs/">Akka</a>
              <a class="navbar-item" href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a>
              <a class="navbar-item" href="https://www.lagomframework.com/documentation/">Lagom Framework</a>
              <a class="navbar-item" href="https://www.playframework.com/documentation">Play Framework</a>
              <a class="navbar-item" href="http://www.scala-sbt.org/documentation.html">sbt</a>
              <a class="navbar-item" href="https://docs.scala-lang.org/">Scala</a>
              <a class="navbar-item" href="http://slick.lightbend.com/doc/3.2.1/">Slick</a>
              <a class="navbar-item" href="https://spark.apache.org/documentation.html">Apache Spark</a>
              <a class="navbar-item" href="https://kafka.apache.org/documentation/index.html">Apache Kafka</a>
              <a class="navbar-item" href="https://flink.apache.org/index.html">Apache Flink</a>
            </div>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Blog</a>
            <a class="navbar-item" href="#">Support</a>
            <a class="navbar-item" href="#">Contact Us</a>
            <a class="navbar-item" href="#">Training</a>
            <a class="navbar-item" href="#">Consulting</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Lightbend</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">About us</a>
            <a class="navbar-item" href="#">Subscription</a>
            <a class="navbar-item" href="#">Customer Success Stories</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
