.btn {
	border: 2px solid var(--color-lb-off-white-dkr);
	padding: .5rem 1rem;
	display: inline-block;
	color: var(--color-cloudflow-blue);
	font-weight: 700;
	text-decoration: none;
}
.btn:hover {
	text-decoration: none;
}




.panels {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
}
.panel {
	border: 1px solid var(--color-lb-off-white-dkr);
	border-bottom: 3px solid var(--color-cloudflow-blue);
	padding: 1.5rem 1rem;
	margin: .5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	color: var(--color-cloudflow-blue);
	font-weight: 400;
	text-decoration: none;
	border-radius: 2px;
	text-align: left;
	position: relative;
}
.panel:after{
	content: "\203A";
	color: var(--color-cloudflow-blue);
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 26px;
	line-height: 0;
}
.panel span {
	padding: 0 8px;
}
.panel img {
	height: 30px;
	margin-right: 5px;
}
.panel h3 {
	margin: 0 0 0 0;
	display: flex;
	text-transform: uppercase;
}
.panel p {
	margin: 0;
	font-size: 14px;
	color: var(--color-cloudflow-dark-blue);
}

@media screen and (min-width: 1024px) {
	.panels {
		flex-direction: row;
		max-width: 1200px;
	}
}
