footer.footer {
	background-color: var(--color-lb-slate);
	color: #fff;
	padding: 4rem 1rem;
}
.footer nav ul + ul {
	border-top: 1px solid var(--color-lb-slate-ltr);
	padding-top: 1.5rem
}
.footer nav h3 {
	margin-top: 0;
	margin-bottom: 1rem;
	color: var(--color-lb-orange);
	font-size: 28px;
	font-weight: 700;
	border-bottom: 1px solid var(--color-lb-slate-ltr);
}
.footer nav h3 a {
	color: var(--color-lb-orange);
	font-size: 0.875rem;
	text-transform: uppercase;
	background: var(--color-lb-slate-dkr);
	margin-bottom: 2px;
	padding: 1rem;
	display: block;
}
.footer nav h4 {
	margin-bottom: .25rem;
	color: var(--color-lb-orange-dkr);
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer nav h4 a {
	color: var(--color-lb-orange-dkr);
}
.footer nav h4 a:hover {
	color: var(--color-lb-orange);
	text-decoration: none;
}
.footer nav ul {
	padding: 0;
	margin: 0 0 1.5rem 0;
}
.footer nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-image: none;
}
.footer nav ul li:before {
	content: "";
	display: none;
}
.footer nav ul li a {
	display: block;
	line-height: 1.5rem;
	color: var(--color-lb-off-white);
	background: var(--color-lb-slate-dkr);
	margin-bottom: 2px;
	padding: 1rem;
}
.footer nav ul li a:hover {
	text-decoration: none;
	color: var(--color-lb-orange);
}
.footer nav ul li a:hover .svg-icon path {
	fill: var(--color-lb-orange);
}

.footer nav ul li a.btn {
	background: var(--color-lb-slate-dkr);
	border-color: white;
	font-weight: 400;
	text-transform: uppercase;
	border: 0px solid white;
	text-align: left;
}
.footer nav ul li a.btn:hover {
	color: white;
	background: var(--color-lb-orange-dkr);

}
.footer nav ul li a.inset {
	padding-left: 3rem;
}
.footer nav ul li a.inset:before {
	content: "\2022";
	margin-right: .25rem;
}
.footer nav ul li a.ib {
	display: inline;
	margin-right: 5px;
}
.footer nav ul li a .svg-chevon-circle-right {
	width: 22px;
	height: 22px;
	float: right;
	margin: 0 0 0 .5rem !important;
}
.footer nav ul li a.rss-icon {
	margin: 0;
}
.footer nav ul li a span {
	color: var(--color-lb-orange);
	padding-left: 10px;
	padding-right: 6px;
}

.legal-social {
	margin-top: 30px;
	padding-top: 30px;
}
.legal-social .legal {
	width: 100%;
}
.legal-social .legal p {
	line-height: 50px;
	font-size: 14px;
	border-top: 1px solid var(--color-lb-slate-ltr);
}
.legal-social .legal p a {
	color: var(--color-lb-off-white-dkr);
}
.legal-social .legal p a:hover {
	color: var(--color-lb-orange);
	text-decoration: none;
}
.legal-social .social h2 {
	display: inline;
	font-size: 1rem;
	font-weight: 700;
}

.legal-social .footer-logo {
	display: block;
	margin-top: 4px	;
}
.legal-social .footer-logo svg {
	height: 24px;
}




@media screen and (min-width: 800px) {
	.footer nav {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
	}
	.footer nav section {
		padding-right: 1rem;
		flex-basis: 50%;
	}
	.footer .legal-social .footer-logo {
		display: inline-block;
		float: right;
	}
}

@media screen and (min-width: 1024px) {
	.footer nav, .legal-social {
		display: flex;
		flex-wrap: wrap;
		max-width: 1370px;
		padding-left: 17rem;
	}
	.footer nav section {
		padding-right: 2rem;
		flex-basis: 33%;
	}
	.footer nav h3 a {
		background: none;
		margin-bottom: 0;
		padding: 0;
		display: block;
	}
	.footer nav ul li a {
		background: none;
		margin-bottom: 0;
		padding: 0;
		font-size: 15px;
	}
	.footer nav ul li a.btn {
		padding: .5rem;
		text-align: left;
		border: 0px solid white;
		width: auto;
		min-width: 65%;
		display: inline-block;
		width: 100%;
		margin-bottom: 5px;
	}
	.footer nav ul li a.inset {
		padding-left: 1rem;
	}
	.footer nav ul li a.inset:before {
		content: "\2022";
		margin-right: .25rem;
	}
}


