:root {
  --oss-banner-height: 70px;
  --navbar-height: 80px;
}

html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: calc(var(--navbar-height) + var(--oss-banner-height));
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.navbar {
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-text);
  font-size: 0.814rem;
  height: var(--navbar-height);
  width: 100%;
  word-wrap: break-word;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--color-navbar-text);
  font-size: 1.15rem;
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--color-navbar-text);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    background-color: var(--color-navbar-bg-focus);
    cursor: default;
    color: var(--color-navbar-text);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--color-navbar-text);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: rgba(0,0,0,.1);
    cursor: default;
    color: var(--color-navbar-text);
    background: rgba(0,0,0,.1) url(../img/nav-arrow-up.svg) no-repeat center bottom;
    background-size: 100% 6px
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  height: var(--navbar-height);
}

.navbar-burger {
  color: var(--color-navbar-text);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
}

.navbar-burger::-moz-focus-inner {
  border: none;
}

.navbar-burger span {
  background-color: var(--color-navbar-text);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--color-text);
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
}
.navbar-link {
  font-weight: 700;
}
.navbar-item {
  flex: none;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-link {
  padding-right: 1em; /*was 2.5em */
}

.navbar-dropdown {
  font-size: 0.875rem;
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: .75rem;
}
.navbar-dropdown .section-title {
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-cloudflow-blue);
  text-transform: uppercase;
}

.navbar-divider {
  background-color: #e1e1e1;
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background-color: #fff;
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: calc(100vh - var(--navbar-height) - var(--oss-banner-height));
    overflow-y: auto;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: #fafafa;
    color: var(--color-cloudflow-blue);
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-menu {
    flex-grow: 1;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: .5rem;
  }

  .navbar-dropdown {
    background-color: #fff;
    border: 0px solid #e1e1e1;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.05);
    border-bottom: 2px solid var(--color-cloudflow-blue);
    border-top: none;
    display: none;
    font-size: 0.875rem;
    top: 100%;
    right: 0;
    min-width: 100%;
    position: absolute;
    padding: 2rem 1rem;
  }
   .navbar-item.has-dropdown:last-child .navbar-dropdown {
    right: 0;
    left: auto;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown .columns{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 600px;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.25rem 1rem;
    white-space: nowrap;
  }
  .navbar-dropdown .navbar-item:first-child {
    padding-top: 0;
  }
  .navbar-dropdown .navbar-item:last-child {
    padding-bottom: 0;
  }
  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    color: var(--color-cloudflow-blue);
  }

  .navbar-dropdown .section-title {
    padding-bottom: 1.5rem;
  }

  .mm-col-one {
    flex-basis: 25%;
    border-right: 1px solid var(--color-lb-off-white-dkr);
  }
  .mm-col-two {
    flex-basis: 50%;
    border-right: 1px solid var(--color-lb-off-white-dkr);
  }
  .mm-col-three {
    flex-basis: 75%;
    border-right: 1px solid var(--color-lb-off-white-dkr);
  }
  .mm-col-four {
    flex-basis: 100%;
    border-right: 1px solid var(--color-lb-off-white-dkr);
  }
  .invisible-border {
    border-right: 1px solid #fff;
  }


}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 0.15rem;
  height: 1.75rem;
  color: #333;
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar-brand {
  position: relative;
}

.navbar-brand .navbar-item:first-child {
  padding-left: .9375rem;
  padding-right: .9375rem; 
}

.header-logo {
  height: 36px;
}
.site-id, a.site-id {
  position: absolute;
  color: rgba(255,255,255,.8);
  left: 118px;
  bottom: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

a.site-id:hover {
  color: white;
}
body.static .site-id, body.cookie .site-id {
  display: none;
}
