body .optanon-alert-box-wrapper {
  bottom: -1px !important;
} 
body .optanon-alert-box-wrapper .optanon-alert-box-bottom-top {
  height: 20px;
}
body .optanon-alert-box-wrapper .optanon-alert-box-bottom-padding {
  padding-bottom: 20px;
}

.lightbend-privacy-cookie-footer {
  padding: 1rem 0 1rem 0;
  color: white;
  vertical-align: middle;
}
.lightbend-privacy-cookie-footer p {
  font-size: 0.875rem;
  vertical-align: middle;
}
.lightbend-privacy-cookie-footer .optanon-show-settings-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.optanon-cookie-policy-group-name {
  font-weight: 700;
}
.optanon-toggle-display {
  cursor: pointer;
}