<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{detag (or page.title 'Page Not Found')}}{{#if site.title}} | {{site.title}}{{/if}}</title>
{{> head}}
  </head>
  <body class="status-404">
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
