<!DOCTYPE html>
<html lang="en" id="home-html">
	<head>
		<title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} {{/if}}</title>
		{{> home-head}}
	</head>
  	<body class="home">
  		{{> oss-banner}}
		<article id="page-content" class="home-content">

			<header>
				<span>
					<img class="homepage-logo" src="{{uiRootPath}}/img/cloudflow-reverse.svg" alt="Cloudflow Logo" title="Cloudflow Logo">
					<h1>Streaming Data Pipelines on Kubernetes</h1>
				</span>
			</header>
			<nav class="home-toc">
				<ul>
					<li><a href="docs/current/index.html">{{> cloudflow-icon-reverse-flush-svg}}Documentation</a></li>
					<li><a href="https://github.com/lightbend/cloudflow">{{> github-white-svg}}Contribute</a></li>
					<li><a href="https://discuss.lightbend.com/c/cloudflow">{{> discuss-white-svg}}Discuss</a></li>
                    <li><a href="https://cloudflow.zulipchat.com/">{{> zulip-white-svg}}Zulip</a></li>
				</ul>
			</nav>
			<main class="content">
				<section>
					{{{page.contents}}}
				</section>
				
			</main>
		</article>
		<footer class="footer">
			<img class="cloudflow-icon" src="{{uiRootPath}}/img/cloudflow-icon-full-color-flush.svg">
			{{> footer-privacy}}
		</footer>
		{{> footer-analytics}}
  </body>
</html>
